<!-- jquery -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- bootstrap -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<!-- chamada da função -->


<h3>Nova Categoria</h3>
    {{#if alert }}
        <script type="text/javascript">
            $(window).load(function() {
                $('#myModal').modal('show');
            });
        </script>
       <div class="modal" id="myModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Categoria adicionada com sucesso deseja adicionar outra categoria ?</p>
                </div>
                <div class="modal-footer">
                    <a href="/admin/categorias" ><button type="button" class="btn btn-secondary" >Não</button></a>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Sim</button>
                </div>
                </div>
            </div>
        </div>
    {{/if}}
    
<div class="card">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="POST">
 
        <label for="name">Nome: </label>
        <input type="text" id="name" name="name" placeholder="Digite o nome da categoria" class="form-control">
        <br>
        <select name="tipo">
            <option value="0">Despesa</option>
            <option value="1">Receita</option>
        </select>
        <button type="submit" class="btn btn-success">Criar Categoria</button>

        </form>
    </div>
      
</div>
     

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
