<h2>Lista de Categorias</h2>
<hr>
    <div class="container">  
        <div class="row">
            {{#each categorias}}
                <div class="col-md-4">                 
                    <div class="card  text-center">
                        <div class="card-header">
                            Catagoria: 
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{dataValues.nome}}</h5>
                            <h6 >{{#if dataValues.tipo }}Receita{{else}} Despesa{{/if}}</h6>   
                            <br>         
                            <a href="/admin/deletarCategoria/{{dataValues.id}}"><button class="btn btn-danger">Deletar</button></a> 
                        </div>
                    </div> 
                    <br>                 
                </div>           
            {{/each}}            
        </div><br>
      
    </div>
    
    <br>

<hr>
<a href="/admin/categorias/add"><button class="btn btn-success">Nova Categoria</button></a>